# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/uploads

# environment variables
.env

# mich
notes.txt
old
sample.js

logger/index.jan.js
logger/index.work.js
logger/index.old.js
